* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html{
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  border: 3px solid #aaa;
  background-color: #f5f5f5;
  width: 70%; /* medida realtiva al html */
  height: 12.5rem;
  margin: 6.25rem auto;
  text-align: center;
  border-radius: 0.625rem;
  padding-top: 1.25rem;
}

.box--1{
  background-color: #fcb8ca;
}
.box--2{
  background-color: #3e7d64;
}
.box--3{
  background-color: #2a391c;
}
.box--4{
  background-color: #19c370;
}
.box--5{
  background-color: #91964d;
}
.box--6{
  background-color: #6f194e;
}
.box--7{
  background-color: #707b42;
}
.box--8{
  background-color: #ab15c1;
}
.box--9{
  background-color: #665853;
}
.box--10{
  background-color: #510af6;
}
