* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html{
  font-size: 100%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
  background-color: purple;
  width: 12.5rem;
  height: 12.5rem;
  margin: .625rem;
  color: white;
  text-align: center;
  padding: .625rem;
  float: left;
}


.box--1{
  background-color: #921957;
  border-radius: 20px;
}
.box--2{
  background-color: #037a5a;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}
.box--3{
  background-color: #ac8190;
  border-top-left-radius: 25px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 1.25rem;
  border-bottom-left-radius:.625rem ;
}
.box--4{
  background-color: #c1d9e5;
  /*               ar-izq   ar-der ab-der ab-izq        */
  border-radius: 1.5625rem 3.125rem 1.25rem .625rem;
}
.box--5{
  background-color: #3ce3ac;
  border-radius: 50%;
}
.box--6{
  background-color: #8b7fab;
  border-radius: 100px /30px;
}
.box--7{
  background-color: #8181c6;
  border-radius: 25px 50px 20px 10px / 50px 25px 30px 100px;
}
.box--8{
  border-radius: 56% 44% 55% 45% / 67% 67% 33% 33% ;
  background: #22C1C3;
  background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.box--9{
  background-color: #01ff05;

}
.box--10{
  background-color: #01c7b5;
}
