/* siempre incorporar una tipografia al principio del archivo css */
/* por cada version de la tipografia necesito un font-face */
/* normal | no negrita */
@font-face{
  font-family: 'Medieval Sharp';
  font-style: normal;
  font-weight: 300;
  src: 
    local('Medieval Sharp Book'),
    url('/public/fonts/MedievalSharp-Book.woff') format('woff');
}
/* cursiva | no negrita */
@font-face{
  font-family: 'Medieval Sharp';
  font-style: italic;
  font-weight: 300;
  src: 
    local('Medieval Sharp Book Oblique'),
    url('/public/fonts/MedievalSharp-BookOblique.woff') format('woff');
}
/* normal | negrita */
@font-face{
  font-family: 'Medieval Sharp';
  font-style: normal;
  font-weight: 700;
  src: 
    local('Medieval Sharp Bold'),
    url('/public/fonts/MedievalSharp-Bold.woff') format('woff');
}
/* cursiva | negrita */
@font-face{
  font-family: 'Medieval Sharp';
  font-style: italic;
  font-weight: 300;
  src: 
    local('Medieval Sharp Bold Oblique'),
    url('/public/fonts/MedievalSharp-BoldOblique.woff') format('woff');
}

/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  /* tipografia segura */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
  max-width: 900px;
  border: 1px solid crimson;
  margin: auto;
}
/* 1. TTF (TrueType Font) */
/* 2. OTF (OpenType Font) */
/* 3. WOFF (Web Open Font Format) */
/* 4. WOFF2 (el rey actual) */
/* 5. EOT (Embedded OpenType) */

/* Como use la tipografia */
h1{
  font-family: 'Medieval Sharp', sans-serif;
  font-style: italic;
  font-weight: 300;
}