/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  /* tipografia segura */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #333;
  height: 1500px;
}

.contenedor {
  max-width: 900px;
  border: 1px solid crimson;
  margin: auto;
}

.caja-padre{
  width: 600px;
  height: 600px;
  margin: 40px auto;
  border: 5px solid gold;

  position: relative;
}

.caja{
  background-color: crimson;
  width: 100px;
  height: 100px;
  text-align: center; /*centra horizontalmente*/
  color: white;
  font-weight: bold;
  line-height: 100px; /*centra verticalmente el texto*/
}

.static {
  position: static;
  background-color: darkblue;
  top: 10px;
  bottom: 50px;
  right: 40px;
  left: 100px;
}

.relative{
  position: relative;
  left: 0;
  /* top: 100px; */
  bottom: 0;
  background-color: darkorange;
}
/* El div con la clase .absolute salio del flujo. Es como si nunca lo hubiera definido dentro del html */
/* Ese elemento que está absolute si previamente ningun contenedor tiene definido un position de static. El div.absolute se a posición con respecto al viewport (a la ventana del navegador) */
/* Que si el contenedor esta posicionada de alguna manera */
.absolute {
  position: static;
  right: -50px;
  top: -50px;
  /* border-radius: 50%; */
  background-color: darkgreen;
}
/* El div con la clase fixed salio del flujo es como si nunca lo hubiera definido dentro del html */
/* A diferencia e absolute fixed nose fija en la poscion del padre la descarte y se posiciona con respectoa los bordes del navegador  */
.fixed{
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  background-color: darkgoldenrod;
}





