*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor{
  background-color: slateblue;
  height: 40rem;
  width: 90%;
  margin: 3rem auto;
  outline: 8px solid black; 
}

.elemento{
  background-color: black;
  width: 10rem;
  height: 10rem;
  color: #eee;
  padding: .5rem;
  border: 4px solid blue;


  transition-duration: 3s;
  transition-property: background-color, width;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(.1,-0.85,.95,-0.21);
  /* transition: 2s background-color */
              /* 5s width; */

}

.contenedor:hover .elemento{
  background-color: crimson;
  width: 20rem;
  
}

